.button {
    background-color: var(--grey-700);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.313rem var(--grey-800);
    cursor: pointer;
    padding: 7px;

    &:hover, &:active {
        background-color: var(--green);
        color: var(--grey-900);
    }

    &:active {
        box-shadow: none;
        transform: translateY(0.313rem);
    }
}