.card {
    align-items: center;
    background-color: var(--grey-800);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: clamp(36.25rem, 70vh, 38.25rem);
    justify-content: center;
    margin-top: 2.75rem;
    max-width: 100%;
    padding: 24px;
    text-align: center;
    width: clamp(20.438rem, 80vw, 24rem);
}

.card__link {
    background-color: var(--grey-700);
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    padding: 14px 0;
    text-decoration: none;
    width: 100%;

    &:hover, &:focus, &:active {
        background-color: var(--green);
        color: var(--grey-900);
    }
}

.card__links_container {
    max-width: 100%;
    width: clamp(17.438rem, 100%, 19rem);
}

.card__location {
    color: var(--green);
    font: 600 0.875rem $font-stack;
    margin: 0.5rem 0 1.813rem;
}

.card__name {
    font: 700 1.488rem $font-stack;
    margin: 1.625rem 0 0;
}