.card {
    align-items: center;
    background-color: var(--grey-800);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: clamp(36.25rem, 70vh, 38.25rem);
    justify-content: center;
    margin-top: 2.75rem;
    max-width: 100%;
    padding: 24px;
    text-align: center;
    width: clamp(20.438rem, 80vw, 24rem);
}

.card__link {
    background-color: var(--grey-700);
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    padding: 14px 0;
    text-decoration: none;
    width: 100%;

    &:hover, &:focus, &:active {
        background-color: var(--green);
        color: var(--grey-900);
    }
}