.attribution { 
    font-size: 0.688rem;
    margin: 1rem 0;
    opacity: 0;

    &:hover {
        opacity: 1;
    }

    a {
        &:hover, &:focus, &:active {
            color: var(--green); 
        }
    }
}