html {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--grey-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font: 400 0.875rem $font-stack;
    height: fit-content;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: var(--white);
}

h1 {
    font: 700 1.488rem $font-stack;
    margin: 1.625rem 0 0;
}

h2 {
    color: var(--green);
    font: 600 0.875rem $font-stack;
    margin: 0.5rem 0 1.813rem;
}

img {
    border-radius: 50%;
    height: 88px;
    width: 88px;
}

li {
    list-style-type: none;

    ~ li {
        margin-top: 1rem;
    }
}

main {
    max-width: 100%;
    width: clamp(17.438rem, 100%, 19rem);
}

p {
    margin: 0 0 1.625rem;
}

ul {
    margin: 0;
    padding-left: 0;
}

::-moz-selection {
    background: var(--green);
    color: var(--grey-900);
}

::selection {
    background: var(--green);
    color: var(--grey-900);
}