html {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--grey-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font: 400 0.875rem $font-stack;
    height: fit-content;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a {
    color: var(--white);
}

img {
    border-radius: 50%;
    height: 88px;
    width: 88px;
}

li {
    list-style-type: none;

    ~ li {
        margin-top: 1rem;
    }
}

p {
    margin: 0 0 1.625rem;
}

ul {
    margin: 0;
    padding-left: 0;
}

::-moz-selection {
    background: var(--green);
    color: var(--grey-900);
}

::selection {
    background: var(--green);
    color: var(--grey-900);
}