* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--grey-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font: 400 0.875rem $font-stack;
    -webkit-font-smoothing: antialiased;
    height: fit-content;
    justify-content: center;
    min-height: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    transition: background-color 0.5s linear;
}

a {
    color: var(--white);
}

button {
    color: var(--white);
    display: block;
    font: inherit;
    margin: 1rem auto 0;
}

img {
    border-radius: 50%;
    display: block;
    height: 88px;
    margin: auto;
    max-width: 100%;
    width: 88px;
}

li {
    list-style-type: none;

    ~ li {
        margin-top: 1rem;
    }
}

p {
    margin: 0 0 1.625rem;
    overflow-wrap: break-word;
    transition: color 0.5s linear;
}

ul {
    padding-left: 0;
}

::-moz-selection {
    background: var(--green);
    color: var(--grey-900);
}

::selection {
    background: var(--green);
    color: var(--grey-900);
}